// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14;
$borderRadius: 5px;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$roboto: 'Roboto', sans-serif;

// ----------------------------------------------------------------------
// styles
// ----------------------------------------------------------------------
$appBgColor: #f4f4f4 !default;

$appSecondaryColor: #8e83f4 !default;

$nativeSystemColor: #ececec !default;
